html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 2rem 1rem;
	max-width: 60rem;
	margin: auto;
	background: $color-b;

	@include respond-min($bp-l) {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"header header"
			"main aside";
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}
}

.header,
.main,
.aside {
	background: $color-a;
	box-shadow: 0 0 1px 0 $color-c;
	margin-bottom: 2rem;
	padding: 1rem;

	@include respond-min($bp-l) {
		margin-bottom: 0;
		padding: 2rem;
	}
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.aside {
	grid-area: aside;
}
