.is-hidden {
	display: none !important;
}

.is-visible {
	display: block !important;
}

// http://tobiasahlin.com/spinkit/
.spinner {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	margin: auto;

	&__double-bounce1,
	&__double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $color-h;
		opacity: .6;
		position: absolute;
		top: 0;
		left: 0;
		animation: sk-bounce 2s infinite ease-in-out;
	}

	&__double-bounce2 {
		animation-delay: -1s;
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}
