body {
	font-size: 100%;
	font-family: $font-primary-fallback;
	color: $color-text-primary;

	.fonts-loaded & {
		font-family: $font-primary;
	}
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}
