$font-primary: 'Noto Sans', sans-serif;
$font-primary-fallback: sans-serif;

$color-text-primary: #333;

$color-a: #fff;
$color-b: #f5f5f5;
$color-c: rgba(0, 0, 0, .2);
$color-d: rgba(0, 0, 0, .5);
$color-e: #efefef;
$color-f: #dfdfdf;
$color-g: #5f9ea0;
$color-h: #558e90;

$bp-s: 30em;
$bp-m: 48em;
$bp-l: 60em;
$bp-xl: 75em;
