{% extends '../layout/layout.njk' %}

{% block content %}
	<header class="header">
		{% include '../components/search/search.njk' %}
	</header>
	
	<main class="main">
		{% include '../components/blocks/blocks.njk' %}
	</main>
	
	<aside class="aside">
		{% include '../components/map/map.njk' %}
	</aside>
{% endblock %}
