.blocks {
	&__content {
		display: none;
	}

	&__heading {
		margin-bottom: 2rem;
	}

	&__container {
		@include respond-min($bp-m) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
		}
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		font-size: 1.375rem;
		text-align: center;
		margin-bottom: 1rem;
		padding: 1rem;
		border: 1px solid $color-c;
		border-radius: 8px;

		@include respond-min($bp-m) {
			font-size: 1.25rem;
			margin-bottom: 0;
			padding: 1rem .5rem;
		}
	}

	&__block-description {
		font-weight: bold;
		text-transform: uppercase;
		font-size: smaller;
		margin-bottom: .5rem;
	}

	&__sub-item {
		font-style: italic;
	}
}
