<section class="blocks" data-module="Blocks" aria-hidden="true">
	{% include '../_partials/_spinner.njk' %}
	
	<article class="blocks__content" data-blocks-content>
		<header class="blocks__heading">
			<h1 data-place></h1>
			<p>
				<span data-icon></span>
				<span data-summary></span>
			</p>
		</header>

		<section class="blocks__container">
			<section class="blocks__block">
				<p class="blocks__block-description">Temperatuur</p>
				<p>
					<span data-temperature></span>&#8451; 
					<small class="blocks__sub-item">(voelt als <span data-feeling-temperature></span>&#8451;)</small>
				</p>
			</section>

			<section class="blocks__block">
				<p class="blocks__block-description">Neerslagkans</p>
				<p>
					<span data-precipation-rate></span>%
				</p>
			</section>

			<section class="blocks__block">
				<p class="blocks__block-description">Windrichting</p>
				<p>
					<span data-wind-speed></span> km/u 
					<span data-wind-direction></span>
				</p>
			</section>

			<section class="blocks__block">
				<p class="blocks__block-description">Zon op / onder</p>
				<p>
					<span data-sun-up></span> /
					<span data-sun-under></span>
				</p>
			</section>
		</section>
	</article>

	<p class="is-hidden" data-error aria-hidden="true">De weersinformatie kan op dit moment niet worden opgehaald.</p>
</section>
