// Custom template - https://www.npmjs.com/package/gulp-svg-sprites#advanced-custom-templates
// View output in /src/static/scss/config/_icons.scss

@mixin icon {
	content: '';
	font-size: 1rem;
	pointer-events: none;
	vertical-align: middle;
	display: inline-block;
	background-image: url('../img/svg/sprite.svg');
	background-repeat: no-repeat;
	background-size: 2rem 27.5625rem;
}

@mixin icon-bewolkt {
	background-position: 0rem 0rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-bliksem {
	background-position: 0rem -2rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-buien {
	background-position: 0rem -4rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-gps-indicator {
	background-position: 0rem -6rem;
	width: 1.5625rem;
	height: 1.5625rem;
}

@mixin icon-hagel {
	background-position: 0rem -7.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-halfbewolkt {
	background-position: 0rem -9.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-helderenacht {
	background-position: 0rem -11.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-mist {
	background-position: 0rem -13.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-nachtmist {
	background-position: 0rem -15.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-regen {
	background-position: 0rem -17.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-sneeuw {
	background-position: 0rem -19.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-wolkennacht {
	background-position: 0rem -21.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-zonnig {
	background-position: 0rem -23.5625rem;
	width: 2rem;
	height: 2rem;
}

@mixin icon-zwaarbewolkt {
	background-position: 0rem -25.5625rem;
	width: 2rem;
	height: 2rem;
}



[class^='icon'],
[class~='icon'] {
	position: relative;
	display: inline-block;

	&::before {
		@include icon;
	}
}

.icon-bewolkt::before {
	@include icon-bewolkt;
}

.icon-bliksem::before {
	@include icon-bliksem;
}

.icon-buien::before {
	@include icon-buien;
}

.icon-gps-indicator::before {
	@include icon-gps-indicator;
}

.icon-hagel::before {
	@include icon-hagel;
}

.icon-halfbewolkt::before {
	@include icon-halfbewolkt;
}

.icon-helderenacht::before {
	@include icon-helderenacht;
}

.icon-mist::before {
	@include icon-mist;
}

.icon-nachtmist::before {
	@include icon-nachtmist;
}

.icon-regen::before {
	@include icon-regen;
}

.icon-sneeuw::before {
	@include icon-sneeuw;
}

.icon-wolkennacht::before {
	@include icon-wolkennacht;
}

.icon-zonnig::before {
	@include icon-zonnig;
}

.icon-zwaarbewolkt::before {
	@include icon-zwaarbewolkt;
}


