.search {
	display: flex;
	border: 1px solid $color-d;
	border-radius: 8px;
	overflow: hidden;

	&__input {
		display: block;
		order: 2;
		width: 100%;
		appearance: none;
		padding: .5rem .75rem;
		border: 0;

		&::-webkit-search-cancel-button {
			display: none;
		}

		@include respond-min($bp-m) {
			font-size: 1.75rem;
		}
	}

	&__gps-button {
		order: 1;
		flex-shrink: 0;
		padding: .5rem .75rem;
		background: $color-e;
		border: 0;
		border-right: 1px solid $color-d;
		cursor: pointer;
		transition: background linear .2s;

		&:hover {
			background: $color-f;
		}
	}

	&__search-button {
		order: 3;
		flex-shrink: 0;
		padding: .5rem 1rem;
		text-transform: uppercase;
		font-weight: bold;
		background: $color-g;
		color: $color-a;
		border: 0;
		cursor: pointer;
		transition: background linear .2s;

		&:hover {
			background: $color-h;
		}
	}
}
