<form action="https://www.knmi.nl/nederland-nu/weer/verwachtingen" class="search" data-module="Search" data-options='{"apiEndpoint": "{{ config.weatherApi.endpoint }}", "apiKey": "{{ config.weatherApi.key }}"}'>
	<input type="search" class="search__input" data-search-input placeholder="Voer een plaatsnaam in" required>
	<button type="button" class="search__gps-button" data-gps-button title="Detecteer locatie" aria-hidden="true">
		<span class="icon-gps-indicator" aria-hidden="true"></span>
	</button>
	<button type="submit" class="search__search-button" data-search-button>Zoek</button>
</form>
