<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Templates</title>
</head>
<body>
	<style>
		* { font-family: sans-serif; }
		body { padding: 1rem; }
		ul { list-style: none; padding: 0; }
	</style>

	<h1>Templates</h1>

    <ul>
    	<li><a href="templates/weather.html">Weather</a></li>
    </ul>
</body>
</html>

