<section class="map" data-module="Map" data-options='{"apiEndpoint":"{{ config.geocodeApi.endpoint }}", "apiKey": "{{ config.geocodeApi.key }}"}'>
	{% include '../_partials/_spinner.njk' %}

	<p class="is-hidden" data-error aria-hidden="true">De kaart kan op dit moment niet worden getoond.</p>
</section>
