<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Weather</title>
        <link rel="stylesheet" href="/static/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">

		<script async src="https://api-maps.yandex.ru/2.1/?apikey=60367faf-a85d-41aa-82bb-fb68e31bd554&lang=en_US" type="text/javascript"></script>

		<script>
			(function(){
				// https://justmarkup.com/log/2015/02/cut-the-mustard-revisited/
				if (!('visibilityState' in document)) return;

				// Can be used to style based on the presence of JavaScript
				document.documentElement.classList.add('has-js');

				// Fonts were loaded on a previous page visit, add class
				if (localStorage.getItem('fonts-loaded')) {
					document.documentElement.classList.add('fonts-loaded');
				}

				// Load a script (and optionally, load a second script afterwards)
				function loadInOrder(firstScript, secondScript) {
					var script = document.createElement('script');
					script.src = firstScript;
					document.head.appendChild(script);
					script.onload = function() { 
						secondScript && loadInOrder(secondScript) 
					};
				}

				// Test browser support to determine whether the polyfill file should be loaded
				var supported = 
					// `Array.from`
					'from' in Array
					// `Promise`
					&& (typeof Promise !== "undefined" && Promise.toString().indexOf("[native code]") !== -1)
					// `Map`
					&& 'Map' in window
					// `Object.entries`
					&& 'entries' in Object
					// `Symbol`
					&& 'Symbol' in window
					// Iterable NodeList
					&& Symbol.iterator in NodeList.prototype
					// `fetch`
					&& 'fetch' in window;

				// Load main.js (and optionally polyfill.js).
				document.addEventListener('DOMContentLoaded', function() {
				    if (supported) {
						loadInOrder('/static/js/main.js');
						return;
					}

					loadInOrder('/static/js/polyfill.js', '/static/js/main.js')
				});
			}());
		</script>
    </head>

    <body>
        {% block content %} {% endblock %}
    </body>
</html>
